
  .button {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    position: relative;
    color: white;
    transition: .5s;
  }
  .button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: .4s;
  }
  .button:hover:after {
    border-width: 5px;
    border-color: white;
    width: calc(100% - 20px);
    height: calc(100% + 10px);
  }


 
.body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  background: url(/Photos/mountain.jpg);
	color: #fff; 
	background-attachment: fixed;
  background-size: 100%;
	background-repeat: repeat-x;
  flex-wrap: wrap;
}



  .outer-div{

  /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
    margin: 30px 30px 0px 30px;
    padding: 30px 30px 30px 30px; 
    /* background-color: #8860D0  ; */
    height: 100%;
    justify-content: center;
    display: -webkit-flex; 
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;  
  }

  .card-box{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin: 30px 30px 30px 30px;
    padding: 30px 30px 30px 30px;
  }

  .button{
    color: white;
    text-decoration: none;
  }
  

  .button-div{

    font-weight: bold;
    font-size: large;
    margin-left: 30px;
    margin-right: 30px;
  }

  .outer-div-content{

    background-size: 100%;
    margin:  0px 30px 30px 30px;
    padding: 0px 30px 30px 30px;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    justify-content: left;
    display: -webkit-flex; 
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap; 
  }

  .name{
    color: #C1C8E4  ;
    margin: 70px 0px 0px 0px;
    font-size: 150px;
  }

  .text{
    
    margin: 10px 0px 0px 0px;
    font-size: 35px;
  }




@media all and (max-width: 1000px) {
  .button {
    margin-bottom: 15px;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    position: relative;
    color: white;
    transition: .5s;
  }
  .button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: .4s;
  }
  .button:hover:after {
    border-width: 5px;
    border-color: white;
    width: calc(100% - 20px);
    height: calc(100% + 10px);
  }


 
.body{
  background: url(/Photos/mountain_phone.jpg);
	color: #fff; 
	background-attachment: fixed;
  background-size: 120%;
	background-repeat: repeat-x;
  flex-wrap: wrap;
}



  .outer-div{

  /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
    margin: 30px 30px 0px 30px;
    padding: 30px 30px 30px 30px; 
    /* background-color: #8860D0  ; */
    height: 100%;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card-box{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin: 30px 30px 30px 30px;
    padding: 30px 30px 30px 30px;
  }

  .button{
    color: white;
    text-decoration: none;
  }
  

  .button-div{

    font-weight: bold;
    font-size: large;
    margin-left: 30px;
    margin-right: 30px;
  }

  .outer-div-content{

    background-size: 100%;
    margin:  0px 30px 30px 30px;
    padding: 0px 30px 30px 30px;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    justify-content: left;
    display: -webkit-flex; 
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap; 
  }

  .name{
    color: #C1C8E4  ;
    margin: 70px -30px 0px -30px;
    font-size: 45px;
  }

  .text{
    
    margin: 10px -30px -30px -30px;
    font-size: 30px;
  }


}